.callback-h {
    text-align: center;

    @media (max-width: 520px) {
        padding-top: 80px;
    }

    &__label {
        position: absolute;
        left: 0px;
        bottom: 8px;
        text-transform: uppercase;
        font-size: 16px;
        transition: all .4s;

        &--focus {
            transform: translate(0px, -28px);
            font-size: 14px;
        }
    }

    &__group {
        margin-bottom: 44px;
    }

    &__flex {
        justify-content: center;

        & > .flex__6 {
            @media (max-width: 520px) {
                width: 90%;
            }
        }
    }

    &__title {
        margin-bottom: 44px;
    }
}