.air-menu {
  height: 100%; }
  .air-menu__flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .air-menu__header {
    flex: 0 0 auto; }
  .air-menu__body {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    padding: 0 100px; }
  .air-menu__list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: spacer(5); }
  .air-menu__item {
    color: #fff;
    font-size: 22px;
    font-weight: 400; }
  .air-menu__footer {
    flex: 0 0 auto; }

.air-footer {
  display: flex;
  align-items: center; }
