.lines {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none; }
  .lines__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%; }
  .lines__line {
    height: 100%;
    width: 1px;
    background-color: #fff; }
    .lines__line--1 {
      opacity: 0.1; }
    .lines__line--2 {
      opacity: 0.2; }
    .lines__line--3 {
      opacity: 0.3; }
