.pay-methods {
    &__item {
        text-align: left;
        padding-right: 48px;
    }

    &__icon {
        display: inline-block;
        height: 90px;
    }

    &__name {
        color: #fff;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: .8px;

        @media (min-width: 1600px) {
            font-size: 20px;
            letter-spacing: 1.2;
        }
    }

    &__varanty {
        display: block;
        margin-top: 40px;
    }

    &__varanty-link {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #fff;
        transition: color .25s;
        cursor: pointer;

        & > img {
            width: 20px;
        }

        &:hover {
            color: $accent-color;
            text-decoration: underline;
        }
    }
}