<section id="advantages" class="advantages section">
    <div class="container">
        <div class="advantages__swiper swiper-container">
            <div class="swiper-wrapper advantages__wrapper">
                {% for item in advantages_items %}
                    <div 
                        class="swiper-slide advantages__slide" 
                        style="background-image: 
                            url('https://cms.abpx.kz{{ item.children[2].settings.image.path }}')"
                    >
                        <h3 class="advantages__title">{{ item.children[0].settings.text }}</h3>
                        <div class="advantages__body">
                            {{ item.children[1].settings.text|raw }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="lines">
        <div class="lines__wrapper container">
            <span class="lines__line lines__line--black lines__line--1"></span>
            <span class="lines__line lines__line--black lines__line--2"></span>
            <span class="lines__line lines__line--black lines__line--3"></span>
            <span class="lines__line lines__line--black lines__line--2"></span>
            <span class="lines__line lines__line--black lines__line--1"></span>
        </div>
    </div>
</section>