<div class="air-menu air-menu__container">
    <div class="container air-menu__flex">
        <div class="air-menu__header">
            <div class="main-header__content">
                <div class="air-menu__menu-toggle">
                   <div class="menu-toggle menu-toggle--open" onclick="frontend.airMenu(); return false;">
                      <span class="menu-toggle__line"></span>
                      <span class="menu-toggle__line"></span>
                      <span class="menu-toggle__line"></span>
                   </div>
                </div>
       
                <div class="logo-block air-menu__logo">
                   <a href="#">
                      <img src="https://cms.abpx.kz/storage/uploads/2022/07/28/62e26eb00cc60logo.svg" class="logo-block__img" alt="Exclusive Qurylys">
                      <img src="https://cms.abpx.kz/storage/uploads/2022/07/28/62e26eaff0bb8logo--dark.svg" class="logo-block__img--dark" alt="Exclusive Qurylys">
                   </a>
                </div>
                
                <div class="main-contact air-menu__contact">
                   <div class="main-contact__block">
                      <a href="tel:+7 727 416 2314" onclick="" class="main-contact__phone">
                         +7 727 416 2314
                      </a>
                      <a href="#" data-modal="#callback-modal" class="main-contact__callback-link" onclick="frontend.airMenu()">
                         Обратная связь
                      </a>
                   </div>
                </div>
             </div>
        </div>

        <div class="air-menu__body">
            <div class="air-menu__list">
                <a 
                    href="#" 
                    class="air-menu__item"
                    onclick="frontend.airMenu()"
                >Главная</a>
                <a 
                    href="#about-project" 
                    class="air-menu__item"
                    onclick="frontend.airMenu()"
                >О проекте</a>
                <a 
                    href="#advantages" 
                    class="air-menu__item"
                    onclick="frontend.airMenu()"
                >Преимущества</a>
                <a 
                    href="#appartaments" 
                    class="air-menu__item"
                    onclick="frontend.airMenu()"
                >Планировки</a>
                <a 
                    href="#comfort" 
                    class="air-menu__item"
                    onclick="frontend.airMenu()"
                >Галерея</a>
                <a 
                    href="#building-steps" 
                    class="air-menu__item"
                    onclick="frontend.airMenu()"
                >Ход строительства</a>
                <a 
                    href="#park-almaly" 
                    class="air-menu__item"
                    onclick="frontend.airMenu()"
                >Парк у дома</a>
                <a 
                    href="about-developer#" 
                    class="air-menu__item"
                    onclick="frontend.airMenu()"
                >О Компании</a>
                <a 
                    href="#callback" 
                    class="air-menu__item"
                    onclick="frontend.airMenu()"
                >Обратная связь</a>
                <a 
                    href="#contacts" 
                    class="air-menu__item"
                    onclick="frontend.airMenu()"
                >Контакты</a>
            </div>
        </div>

        <div class="air-menu__footer air-footer">
            <div class="air-footer__logo">
                <a href="https://exin.kz/">
                    <img src="https://cms.abpx.kz{{ exin_logo.path }}" alt="" class="air-footer__logo-img">
                </a>
            </div>
            <div class="air-footer__phone">
                <a href="tel:{{ site_phone }}">
                    <i class="fas fa-phone"></i>
                    {{ site_phone }}
                </a>
            </div>
            <div class="air-footer__adress">
                <span>
                    <i class="fas fa-map-marker-alt"></i>
                    {{ site_adress }}
                </span>
            </div>
            <div class="air-footer__insta">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>