{% if building_steps is defined and building_steps is not empty %}
    <section id="buildingSteps" class="building-steps section section--pb">
        <div class="container">
            <div class="section__title-block">
                <h2 class="section__title">Ход строительства</h2>
            </div>
            <carousel-swiper 
                :per-view="6" 
                :is-loop="false" 
                class="building-steps__list"
            >
                {% for item in building_steps %}
                    <swiper-slide 
                        class="building-steps__item building-item" 
                        @click="showLightBox(
                            {% if item.panoramas %}'{{ item.panoramas[0] }}', true{% endif %}
                            {% if item.gallery %}
                                [{% for image in item.gallery %} 
                                    'https://cms.abpx.kz{{ image.path }}', 
                                {% endfor %}]
                            {% endif %}
                        )"
                    >
                        <span class="building-item__plus">+</span>
                        <span class="building-item__date">
                            {{ translate[item.format_date.month] }}
                            {{ item.format_date.year }}
                        </span>
                    </swiper-slide>
                {% endfor %}
            </carousel-swiper>
        </div>
    </section>
{% endif %}