<section class="section section--pb second-callback">
    <div class="container">
        <div class="second-callback__block">
    
            <img 
                class="section__paralax section__paralax--primary" 
                src="https://cms.abpx.kz/storage/uploads/2022/10/19/634fda74b60e6order-img-3.svg"
            >
            <img 
                class="section__paralax section__paralax--second" 
                src="https://cms.abpx.kz/storage/uploads/2022/10/20/63512b3579128order-img-1.svg"
            >

            <img 
                src="https://cms.abpx.kz/storage/uploads/2022/11/14/637209b449ce5order-logo.svg" 
                class="second-callback__logo"
            >

            <callback-form class="callback-h__form second-callback__form flex__8"
               :user-name-placeholder="'Имя'"
               :no-valid-phone-number="'Пожалуйста, проверьте, правильность введённого вами номера!'"
               :no-valid-form-data="'Не заполнены обязательные поля'"
               :submit-text="'Отправить заявку'"
            ></callback-form>
        </div>
    </div>
</section>