<section class="
        commerce 
        section 
        section--primary 
        section--crop
    "
    ref="commerceBlock"
>
    
    <img 
        class="section__paralax section__paralax--primary" 
        src="https://cms.abpx.kz/storage/uploads/2022/10/19/634fda74b60e6order-img-3.svg"
        :style="{transform: paralaxEffect?.paralax?.commerce}"
    >
    <img 
        class="section__paralax section__paralax--second" 
        src="https://cms.abpx.kz/storage/uploads/2022/10/20/63512b3579128order-img-1.svg"
        :style="{transform: paralaxEffect?.paralax?.commerce_two}"
    >

    <div class="container">
        <div class="flex">
            <div class="flex__7 com-info">
                <div class="section__title-block">
                    <h2 class="section__title section__title--gold">
                        Самый востребованный бизнес 
                        можете открыть именно вы
                    </h2>
                </div>
                <span class="com-info__label">
                    Коммерческие помещения от 76,9 до 250 м<sup>2</sup>
                </span>
                <div class="flex com-info__items">
                    <div class="flex__6 com-info__item">
                        <img src="https://cms.abpx.kz/storage/uploads/2022/10/13/634816c3dff9clabel-svgrepo-com-1.svg" alt="">
                        <span>от 410 000 тг./м<sup>2</sup></span>
                    </div>
                    <div class="flex__6 com-info__item">
                        <img src="https://cms.abpx.kz/storage/uploads/2022/10/13/634816c3e49c6walk-to-left-walk-move-stroll-svgrepo-com-1.svg" alt="">
                        <span>35 000+ человек</span>
                    </div>
                </div>
                <button 
                    class="btn btn--gradient com-info__button"
                    @click="callbackModalShow = !callbackModalShow"
                >
                    Получить консультацию
                </button>
            </div>
            <div class="flex__5 com-image">
                <div class="commerce__image">
                    <img src="https://cms.abpx.kz/storage/uploads/2022/10/13/63480d2ee54551622315618_2-phonoteka_org-p-produktovii-magazin-art-krasivo-5.jpg" class="com-image__img">
                    <span class="com-image__label">осталось 5 помещений</span>
                </div>
            </div>
        </div>
    </div>
</section>