<footer id="contacts" class="common-footer section section--primary">

    <img 
        src="https://cms.abpx.kz/storage/uploads/2022/11/14/63723d05efc21contacts-img.svg"
        class="section__paralax common-footer__paralax"
        :style="{transform: paralaxEffect?.paralax?.about_company_two}"
    >

    <div class="container">
        <div class="flex">
            <div class="flex__8 common-footer__map">
                <yandex-map></yandex-map>
            </div>
            <div class="flex__4 contacts">
                <div class="section__title-block">
                    <h2 class="section__title section__title--gold">Контакты</h2>
                </div>

                <div class="contacts__items">
                    <div class="contact-item">
                        <img src="https://cms.abpx.kz/storage/uploads/2022/11/14/6372373b23cf7icon-pin.svg" class="contact-item__icon">
                        <span class="contact-item__label">
                            ОТДЕЛ ПРОДАЖ <br>
                            г.Алматы, мкр. Кайрат, по ул. Бухтарминской <br>
                            (пересечение Кульджинского тракта)
                        </span>
                    </div>
                    <div class="contact-item">
                        <img src="https://cms.abpx.kz/storage/uploads/2022/11/14/6372373cd494aicon-phone.svg" class="contact-item__icon">
                        <a href="tel:+7 700 836 57 18" class="contact-item__label contact-item__phone">
                            <strong>+7 700 836 57 18</strong>
                        </a>
                    </div>
                    <div class="contact-item">
                        <img src="https://cms.abpx.kz/storage/uploads/2022/11/14/6372373e1e72661e668600bdadGroup-24.svg" class="contact-item__icon">
                        <span class="contact-item__label">
                            ЦЕНТРАЛЬНЫЙ ОФИС ПРОДАЖ <br>
                            Алматы, ул. Кабанбай Батыра, 104, <br>
                            Центральный офис продаж
                        </span>
                    </div>
                </div>

                <div class="contacts__social">
                    <a href="#" class="contacts__social-item">
                        <img src="https://cms.abpx.kz/storage/uploads/2022/11/14/6372384471240icon-instagram.svg">
                    </a>
                    <a href="#" class="contacts__social-item">
                        <img src="https://cms.abpx.kz/storage/uploads/2022/11/14/6372384351f71icon-facebook.svg">
                    </a>
                </div>

                <div class="contacts__copyright">
                    <p>© AltynCity2021. Все права защищены</p>
                    <p>
                        Вся информация на сайте предоставлена с целью изучения спроса потенциальных покупателей и не является публичной офертой. Договоры купли-продажи будут заключаться после ввода объекта в эксплуатацию.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>