<section id="home" class="main-slider" ref="sliderSection">
    
    <div class="main-slider__swiper swiper-container">
        <div class="swiper-wrapper main-slider__wrapper">
            <div 
                class="swiper-slide main-slider__slide" 
            >
                <div class="main-slider__image" :style="{transform: paralaxEffect?.paralax?.slider}">
                    <img src="https://cms.abpx.kz{{ slider_image.path }}">
                </div>
                <div class="main-slider__content">
                    <div class="slider-promo">
                        <div class="slider-promo__developer promo-developer">
                            <span class="promo-developer__label">Застройщик</span>
                            <img 
                                src="https://cms.abpx.kz/storage/uploads/2022/02/09/620411381e38861c9645a93a2blogo-bold-1.svg" 
                                class="promo-developer__logo"
                            >
                            <a href="https://exin.kz/" target="_blank" class="promo-developer__link">
                                exin.kz
                            </a>
                        </div>
                        <div class="slider-promo__info promo-info">
                            <div class="promo-info__price promo-price">
                                <h3 class="promo-price__title">
                                    от 360 000 тг/м<sup>2</sup>
                                </h3>
                            </div>
                            <div class="promo-info__contribution promo-contribution">
                                <span class="promo-contribution__label">
                                    Первоначальный взнос от
                                </span>
                                <span class="promo-contribution__value">
                                    20%
                                </span>
                            </div>
                            <div class="promo-info__links promo-links">
                                <span class="promo-links__label">
                                    <strong>Новый район</strong> города
                                </span>
                                <button class="btn btn--gradient">Выбрать квартиру</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>