.appartaments__title-block {
  text-align: center; }

.appartaments__desc {
  display: inline-block;
  max-width: 70%; }

.appartaments__map {
  position: relative; }

.appartaments__polygons {
  position: absolute;
  width: 100%;
  height: 100%; }

.appartaments__bg {
  max-width: 100%; }

.interective-map__text {
  pointer-events: none; }

.interective-map__polygon {
  transition: background-color .4s; }
