@media (max-width: 520px) {
  .park-almaly {
    padding-bottom: 80px; } }

.park-almaly__flex {
  align-items: center; }
  @media (max-width: 720px) {
    .park-almaly__flex > .flex__7,
    .park-almaly__flex > .flex__5 {
      width: 100%; } }

.park-almaly__swiper-block {
  padding-right: 64px; }
  @media (max-width: 980px) {
    .park-almaly__swiper-block {
      padding-right: 40px; } }
  @media (max-width: 720px) {
    .park-almaly__swiper-block {
      padding-right: 0px;
      margin-bottom: 68px; } }

.park-almaly__slide {
  background-size: cover;
  background-position: center; }

.park-almaly__controll {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background: black;
  padding: spacer(4);
  z-index: 10;
  user-select: none;
  cursor: pointer; }
  @media (max-width: 720px) {
    .park-almaly__controll {
      position: absolute;
      top: 36%; } }
  @media (max-width: 520px) {
    .park-almaly__controll {
      top: 240px; } }
  .park-almaly__controll--left {
    transform: scale(-1);
    margin-right: 12px;
    background-color: #DBDBDB; }
    @media (max-width: 720px) {
      .park-almaly__controll--left {
        left: 32px; } }
    .park-almaly__controll--left > img {
      filter: invert(1); }
  @media (max-width: 720px) {
    .park-almaly__controll--right {
      right: 32px;
      background-color: #DBDBDB; }
      .park-almaly__controll--right > img {
        filter: invert(1); } }
  .park-almaly__controll > img {
    width: 26px; }
